@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center item">
    <div class="item1">
            <h2 class="boost">Boost Productivity <br /> with VidlyApp Application</h2>
           <ul class="lists">
                <li class="bg-primary text-white   register">
                     <a class="text-white" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                 </li>
                  <li class="bg-white text-primary  login">
                     <a class="text-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                 </li>
           </ul>
    </div>
       <div class="item2">
           <img src="https://images.unsplash.com/1/work-station-straight-on-view.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"  style="width:800px"/>
       </div>
</div>
